<div class="container-fluid">
<div class="row">
	<div class="col-md-8 offset-md-2 col-xs-10 offset-xs-1 col-xl-6 offset-xl-3">
		<div class="options-body" id="IcwpWpsfSecurityAdmin">

		<h3>{{ strings.aar_title }}</h3>
		<p>{{ strings.aar_what_should_you_enter }}
			<br />{{ strings.aar_must_supply_key_first }}
		</p>

		<form action="{{ form_action }}" method="post" class="form-horizontal" id="SecurityAdminForm">
			<input type="hidden" name="plugin_form_submit" value="Y" />
			{% for sName,sVal in data.ajax %}
				<input type="hidden" value="{{ sVal }}" name="{{ sName }}" />
			{% endfor %}
			<div class="form-group row no-gutters">

				<label class="form-label col-3 col-form-label" for="admin_access_key_request">
					<span class="optname">{{ strings.aar_enter_access_key }}</span>
				</label>

				<div class="col-8 col-xs-offset-1 option_container">

					<div class="option_section">
						<label class="admin_access_key_request">
							<input type="password" name="admin_access_key_request"
								   id="admin_access_key_request" value="" autocomplete="off" autofocus />
						</label>
						<p class="help-block">{{ strings.aar_to_manage_must_enter_key }}</p>
					</div>
				</div>
			</div>
			<div class="form-group row no-gutters">
				<div class="col-6">
					<button type="submit" class="btn btn-primary" name="submit">
						{{ strings.aar_submit_access_key }}</button>
				</div>
				<div class="col-6 text-right">
					<a class="btn btn-link "
					   href="{{ hrefs.aar_forget_key }}" target="_blank">
						{{ strings.aar_forget_key }}</a>
				</div>

			</div>
		</form>
		</div>
	</div>
</div>
</div>