{% block body_main %}
<div class="row no-gutters" id="ModulePageTopRow">

    <div class="col-2 modules smoothwidth" id="ColumnModules">
		{% block body_main_column %}
		<div id="TopPluginIcon" class="img-fluid">&nbsp;</div>
		<div class="nav flex-column">
			{% for nKey,aSummary in aSummaryData %}

				<a class="nav-link module {% if aSummary.active %}active{% endif %}"
				   id="tab-{{ aSummary.slug }}"
				   href="{{ aSummary.href }}" role="tab">
				<div class="module-name">
					{% if aSummary.enabled %}
						<div class="dashicons dashicons-yes"
							 title="Module Active"></div>
					{% else %}
						<div class="dashicons dashicons-warning"
							 title="Module Disabled"></div>
					{% endif %}
					{{ aSummary.name }}
				</div>
			</a>
			{% endfor %}
		</div>
		{% endblock %}
	</div>

    <div class="col" id="ColumnOptions">
	{% block body_main_options %}
		<div id="IcwpCarouselOptions" class="icwp-carousel slide">
			<div class="carousel-inner">

				<div class="carousel-item active">
					<div class="d-block w-100 content-options">
						{% if flags.show_standard_options %}{{ content.options_form|raw }}{% endif %}
						{% if flags.show_alt_content %}{{ content.alt|raw }}{% endif %}
					</div>
				</div>

				<div class="carousel-item carousel-wizards">
					<div class="d-block w-100">{{ content.wizard_landing|raw }}</div>
				</div>

				<div class="carousel-item carousel-help">
					<div class="d-block w-100">{{ content.help|raw }}</div>
				</div>

				<div class="carousel-item carousel-actions">
					<div class="d-block w-100">{{ content.actions|raw }}</div>
				</div>

		  </div>
		</div>

		<script>
			jQuery( document ).ready( function () {
					jQuery( '.icwp-carousel' ).carousel( {
						interval: false,
						keyboard: false
					} );
				}
			);
		</script>
	{% endblock %}
	</div>
</div>
{% endblock %}