@CHARSET "ISO-8859-1";

/* GENERAL STYLES */
body {
	overflow-y: scroll;
}
#wpcontent {
	padding: 0;
}
#wpcontent .wrap {
	margin: 0;
}
.pluginlogo_16 {
	background: url("../images/pluginlogo_16x16.png?ver=1.0.0") no-repeat 0 3px transparent;
}
.page-header .header-icon32 {
	display: inline-block;
	float: left;
	height: 40px;
	vertical-align: middle;
	width: 42px;
}
.plugin_update_message {
	color: #dd3333;
}
.wrap .icon32 {
	width: 32px;
}
.bootstrap-wpadmin .page-header {
	margin: 5px 0 15px;
	padding-bottom: 0;
	border-bottom: 1px solid transparent;
}
.bootstrap-wpadmin .page-header h2 small.feature-tagline {
	font-size: 14px;
	line-height: 10px;
	letter-spacing: -0.5px;
}
.icwp-options-page ul.nav-tabs {
	margin: 0;
}
.icwp-options-page ul.nav-tabs li a {
	background-color: #e3e3e3;
	border: 1px solid transparent;
	border-bottom: 0 none;
	margin-left: 5px;
}
.icwp-options-page ul.nav-tabs li a:focus {
	box-shadow: none;
}
.icwp-options-page ul.nav-tabs li a:hover {
	background-color: #dddddd;
	border-color: #999999;
}
.icwp-options-page .form-actions {
	background-color: #d8d8d8;
	border: 0 none;
	border-radius: 0 0 10px 10px;
	margin: 0;
	padding: 27px;
}
.icwp-options-page .form-actions .btn {
	padding: 16px 40px;
}
table.table-audit_trail {
	border: 2px solid #777777;
	margin-bottom: 40px;
	width: auto;
}
table.table-audit_trail .cell-time {
	width: 90px;
	max-width: 90px;
}
table.table-audit_trail .cell-username {
	width: 120px;
	max-width: 120px;
}
table.table-audit_trail .cell-event {
	width: 100px;
	max-width: 100px;
}
table.table-audit_trail .cell-category {
	width: 80px;
	max-width: 80px;
}
table.table-audit_trail .cell-message {
	width: 200px;
	max-width: 250px;
}
table.table-audit_trail .cell-ip {
	width: 200px;
	max-width: 240px;
}
/* Form elements */
.bootstrap-wpadmin form fieldset {
	width: 80%;
}
.bootstrap-wpadmin .label {
	vertical-align: baseline !important;
}
.shortcode-usage {
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 10px;
}
p.code-description {
	font-style: italic;
}
/* Worpit promo */
#worpit_button {
	background: url("../images/bright_squares.png") #efefef;
}
#worpit_button {
	border: 1px solid #cccccc;
	border-radius: 4px;
	height: 190px;
}
#worpit_button:hover {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
	border: 1px solid transparent;
}
.row#developer_channel_promo #developer_channel_description .well {
	height: 275px;
}
.row#developer_channel_promo #developer_channel_form {
	border: 1px solid #eeeeee;
	border-radius: 6px;
	height: 315px; /* 275px + 20px-padding-x2 */
}
.row#developer_channel_promo #developer_channel_form h3 {
	padding: 10px 20px;
}
.row.option_section_row {
	margin-left: 0;
	padding-bottom: 24px;
}
.row.option_section_row.primary_section {
	border: 1px solid transparent;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	padding-bottom: 30px;
}
/*
.row.option_section_row.primary_section > div {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	margin-bottom: 30px;
	margin-top: 10px;
	padding: 5px 30px 30px;
}
.row.option_section_row.non_primary_section > div {
	margin-left: 0px;
}*/

.well.admin_access_restriction_form {
	background-color: #fbfbfb;
	border: 1px solid #cccccc;
	box-shadow: none;
}
.well.admin_access_restriction_form .form-actions {
	background-color: #fbfbfb;
}
/** LESS PAGE **/
.enabled_section {
	opacity: 1.0;
}
.disabled_section {
	opacity: 0.5;
}
/* BOOSTRAP SETTINGS PAGE STYLES */

.bootstrap-wpadmin .form-horizontal .form-actions {
	padding-left: 200px;
}
/** Section summaries **/
.row_section_summary {
	background-color: rgba(0, 0, 0, 0.02);
	border: 1px solid rgb(240, 240, 240);
	margin: 10px 20px 20px;
}
.row_section_summary div {
}
.row_section_summary p {
	margin: 12px 0;
}
.row_section_summary p.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.row_section_summary button.section_help_video {
	position:relative;
	top:25%;
}
.row_section_summary button.section_help_video .dashicons {
	font-size: 33px;
	width: 30px;
}
.row_section_summary .section_video > div {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}
/** End-Section summaries **/

.wrap .icon32 {
	width: 32px;
}
.submit span {
	font-size: smaller;
	font-style: italic;
}
.options-body legend {
	border-bottom: 1px dashed transparent;
	margin-bottom: 0;
	padding: 16px 20px 0;
}
.option_row .item_group {
}
.option_row .item_group .control-group {
	margin: 22px 20px;
}
.option_row .item_group .control-group .controls {
	margin-left: 180px;
}
.option_row .item_group .control-group .control-label {
	float: left;
	width: 150px;
	margin-top: 2px;
	text-align: right;
}
.optlinks {
	display: block;
	margin-top: 5px;
	font-size: smaller;
}
.option_row .item_group.selected_item_group {
}
.row.option_row {
	margin-bottom: 15px;
}
.overlay_container.disabled {
	position: relative;
}
.option_overlay {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
	transition: background-color 0.5s ease;
	z-index: 5;
}
.option_overlay:hover {
	background-color: rgba(0, 0, 0, 0.5);
}
.option_overlay .overlay_message {
	display: none;
}
.option_overlay .overlay_message:hover,
.option_overlay:hover .overlay_message {
	display: block;
	color: #333333;
	font-size: 24px;
	margin: 15px auto auto auto;
	padding: 0 10px;
	width: auto;
	background: rgba(255, 255, 255, 0.8);
	line-height: 40px;
	text-align: center;
	user-select: none;
}
.option_overlay:hover .overlay_message a:hover {
	text-decoration: none;
}
.option_section {
	background-color: transparent;
	border: 1px dashed transparent;
	border-radius: 4px;
	padding: 8px 10px;
}
.option_section input,
.option_section select,
.option_section textarea {
	width: 100%;
}
.option_section input[type=checkbox] {
	margin-right: 5px;
}
.option_section label {
	background-color: transparent;
	width: 100%;
}
.selected_item label {
	font-weight: bold;
}
.nonselected_item {
	background-color: transparent;
}
.nonselected_item label {
	font-weight: normal;
}
.option_section:hover {
	background-color: #ffffff;
	border: 1px dashed #bbbbbb;
}
.option_section.active {
}
table.table th {
}
table.tbl_tbs_options {
	width: 100%;
	border: 1px solid transparent;
}
table.tbl_tbs_options tr td {
	width: 49%;
	border: 1px solid transparent;
}
select#hlt_bootstrap_option {
	padding: 5px;
	border-radius: 6px 6px 6px 6px;
	height: 30px;
	width: 200px;
}
table#tbl_tbs_options_javascript td {
	vertical-align: top;
	width: 50%;
}
/** OPTIONS PAGES **/
.bootstrap-wpadmin > .row {
	width: 960px;
}
.bootstrap-wpadmin .row.row_number_1 {
}
label input[type=checkbox] {
	height: 16px !important;
}
/** FEature summaries **/
.bootstrap-wpadmin .feature-summary-blocks {
	text-align: center;
	width: 100%;
	margin-top: 20px;
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2) inset;
	border: 1px solid #cccccc;
	background: #f9f9f9;
}
.feature-summary-blocks .feature-icon:before {
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font: 32px/1 'dashicons';
	vertical-align: top;
}
.feature-summary-blocks a {
	display: block;
	text-shadow: 1px 0 0 rgba(0, 0, 0, 0.4);
	width: 100%;
}
.feature-summary-blocks .summary-state {
	border: 1px solid transparent;
	overflow: hidden;
	text-align: center;
	margin-bottom: -1px;
}
.feature-summary-blocks .summary-state.active-feature {
	background-color: rgba(69, 119, 0, 1);
}
.feature-summary-blocks .summary-state.active-feature a {
	color: rgba(255, 255, 255, 1);
}
.feature-summary-blocks .summary-state.active-feature.state-off {
	background-color: rgba(173, 84, 0, 0.85);
}
.feature-summary-blocks .summary-state .popover {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	padding: 0;
	border-radius: 1px;
	text-align: left;
	width: 200px;
}
.feature-summary-blocks .summary-state .popover .arrow {
	display: none;
}
.feature-summary-blocks .summary-state.active-feature.state-off:hover,
.feature-summary-blocks .summary-state:hover {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid transparent;
	background-color: rgba(255, 255, 255, 0.8);
}
.feature-summary-blocks .summary-state:hover {
}
.feature-summary-blocks .summary-state a p {
	text-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
	font-size: 12px;
	margin: 0;
}
.feature-summary-blocks .summary-state a:hover {
	text-decoration: none;
}
.feature-summary-blocks .summary-state a {
	padding: 8px 0;
}
@media (max-width: 800px) {
	.feature-summary-blocks .summary-state p {
		font-size: 8px;
	}
	.feature-summary-blocks .feature-icon:before {
		font-size: 16px;
	}
}
.feature-summary-blocks .state-on a {
	color: rgba(69, 119, 0, 1);
}
.feature-summary-blocks .state-off a {
	color: rgba(173, 84, 0, 0.85);
}
.feature-summary-blocks .state-on a:hover {
	color: rgb(99, 150, 0);
}
.feature-summary-blocks .state-off a:hover {
	color: rgba(207, 90, 0, 0.85);
}
.feature-summary-blocks .feature-summary-block.state-on {
	background-color: rgba(102, 216, 45, 0.2);
}
.feature-summary-blocks .feature-summary-block.state-off {
	background-color: rgba(239, 141, 49, 0.2);
}
#feature-plugin .feature-icon:before {
	content: "\f111";
}
#feature-admin_access_restriction .feature-icon:before {
	content: "\f332";
}
#feature-firewall .feature-icon:before {
	content: "\f479";
}
#feature-user_management .feature-icon:before {
	content: "\f307";
}
#feature-hack_protect .feature-icon:before {
	content: "\f153";
}
#feature-headers .feature-icon:before {
	content: "\f163";
}
#feature-login_protect .feature-icon:before {
	content: "\f112";
}
#feature-comments_filter .feature-icon:before {
	content: "\f125";
}
#feature-autoupdates .feature-icon:before {
	content: "\f463";
}
#feature-lockdown .feature-icon:before {
	content: "\f160";
}
#feature-audit_trail .feature-icon:before {
	content: "\f115";
}
#feature-ips .feature-icon:before {
	content: "\f230";
}
#feature-support {
	display: none;
}
#feature-support .feature-icon:before {
	content: "\f525";
}
input[type="email"] {
	height: 28px;
}
.bootstrap-wpadmin .row .shield-free-block {
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 20px 50px;
}
.bootstrap-wpadmin .row .shield-free-block p {
	margin-bottom: 18px;
}
#icwpOptionsTopPill {
}
#icwpOptionsTopPill > .nav-pills {
	border-bottom: 1px dashed #999999;
	padding-bottom: 10px;
}
#icwpOptionsTopPill > .nav-pills li {
	width: 30.5%;
}
#icwpOptionsTopPill > .nav-pills li#icwpWizardPill {
	width: 8%;
}
#icwpOptionsTopPill > .nav-pills li#icwpWizardPill .tooltip {
	opacity: 1.0;
}
#icwpOptionsTopPill > .nav-pills li#icwpWizardPill .tooltip .tooltip-inner {
	max-width: none;
	font-size: 16px;
	padding: 8px 12px;
}
#icwpOptionsTopPill > .nav-pills li#icwpWizardPill a {
	background-size: 100%;
	background-color: #1cbaf3;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: 0 4px;
}
#icwpOptionsTopPill > .nav-pills li a {
	background-color: rgba(0, 0, 0, 0.2);
	text-shadow: 1px 0 0 rgba(255, 255, 255, 0.4);
	color: #666666;
	height: 50px;
}
#icwpOptionsTopPill > .nav-pills li a:hover {
	background-color: rgba(38, 66, 1, 0.3);
}
#icwpOptionsTopPill > .nav-pills li a:focus {
	box-shadow: none;
}
#icwpOptionsTopPill > .nav-pills li span.dashicons {
	float: left;
	height: 100%;
	font-size: 48px;
	display: block;
	width: 62px;
}
#icwpOptionsTopPill > .nav-pills li.active a {
	background-color: rgba(69, 119, 0, 1);
	color: #ffffff;
	text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
}
#icwpOptionsTopPill > .nav-pills li a .title {
	font-weight: bolder;
	font-size: 18px;
	line-height: 24px;
}
#icwpOptionsTopPill > .nav-pills li a .summary {
	font-size: 16px;
	line-height: 28px;
	padding-left: 10px;
}
#icwpOptionsTopPill > .nav-pills li a.active {
}
#icwpOptionsTopPill > .tab-content {
	background-color: transparent;
}
.content-wizards .wizard_slot {
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-top: 30px;
	padding: 20px;
}
.content-wizards .wizard_slot:hover {
	background-color: #ffffff;
}
.btn.btn-icwp-wizard.disabled {
	pointer-events: auto;
}
.content-wizards,
.content-help {
	background-color: #f1f1f1; /** == #ColumnOptions */
	padding: 20px;

}
.content-help h2 {
	margin-bottom: 8px;
}
.content-help p,
.content-help li {
	font-size: 14px;
}
.content-help dt {
	border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
	font-size: 16px;
	margin-bottom: 7px;
	padding-bottom: 3px;
}
.content-help dd {
	margin-bottom: 15px;
	margin-left: 12px;
}
.bootstrap-wpadmin .option_section_row .options-body {
}
.bootstrap-wpadmin .option_row .item_group {
}
/* The switch - the box around the slider */
label.forcheckbox .summary {
	vertical-align: top;
	line-height: 20px;
	margin-left: 7px;
}
.icwp-switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}
.icwp-switch .summary {
	display: block;
}
/* Hide default HTML checkbox */
.icwp-switch input {
	display: none;
}
/* The slider */
.icwp-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #cccccc;
	-webkit-transition: .1s;
	transition: .1s;
}
.icwp-slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .1s;
	transition: .1s;
}
input:checked + .icwp-slider {
	background-color: rgba(69, 119, 0, 1);
}
input:focus + .icwp-slider {
	box-shadow: 0 0 1px rgba(69, 119, 0, 1);
}
input:checked + .icwp-slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}
/* Rounded sliders */
.icwp-slider.round {
	border-radius: 3px;
}
.icwp-slider.round:before {
	border-radius: 10%;
}
/** NEW FORMS **/

#wpwrap {
	background-color: #e4e4e4;
}
#wpcontent,
#wpbody-content {
	background-color: #e4e4e4;
}
#wpfooter {
}
.icwp-options-page {
	/*margin-top: 7px;*/
	/*margin-right: 7px;*/
}
#ModulePageTopRow {
	min-width: 760px; /** prevents col breaking **/
}
#TopPluginIcon {
	border-bottom: 1px solid #ccc;

	height: 128px;
	width: 128px;

	margin-bottom: 7px;
	position: relative;
	left: 1px;
}
#ColumnModules {
	max-width: 128px;
	border-right: 1px solid #ccc;
}
#ColumnOptions {
	background-color: #f1f1f1;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	min-width: 590px; /** prevents col breaking **/
}
.module-headline {
	font-size: 14px;
	padding: 14px 16px 10px;
}
.headline-title {
	font-variant: small-caps;
}
.module-tagline {
	font-size: 14px;
	display: block;
}
.modules a.module {
	font-size: 15px;
	padding: 0.7rem 1.1rem 0.7rem 1.2rem;
	color: #222222;
	font-weight: bolder;
	text-shadow: 0 0 0 rgba(255, 255, 255, 0.5);

	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
}
.modules a.module:first-child {
}
.modules a#tab-license {
	color: #1d00ff;
}
.modules a.module .module-name {
	line-height: 19px;
	position: relative;
}
.modules .module-name .dashicons {
	position: absolute;
	left: -20px;
	top: 1px;
	color: #a56300;
}
.modules a.module .dashicons-warning {
	color: #a56300;
}
.modules a.module .dashicons-yes {
	color: #69ab72;
}
.modules a.module .dashicons-warning:before {
	font-size: 16px !important;
}
.modules a.module:hover,
.modules a.module:focus {
	background-color: #eeeeee;
	color: #222222;
	box-shadow: none;
}
.modules a.module.active {
	background-color: #f1f1f1; /** == #ColumnOptions */
	color: #222222;

	margin-right: -1px;
	z-index: 2;
	border-bottom-color: #ccc;
	border-top-color: #ccc;
}
.icwp-options-page .tab-content {
	background-color: #fcfffc;
	border: 1px solid #dddddd;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.05);
	min-height: 450px;
}
#ModuleOptionsNav {
	margin-top: 20px;
}
#ModuleOptionsNav li {
	margin-bottom: 0;
}
#ModuleOptionsNav li a {
	border: 1px solid transparent;
	font-size: 14px;
	min-height: 60px;
	margin-right: -1px;
	border-radius: 3px 0 0 3px;
	color: #006100;
	letter-spacing: -0.5px;
	margin-left: 7px;
}
#ModuleOptionsNav li a:hover {
	background-color: rgba(0, 0, 0, 0.07);
}
#ModuleOptionsNav li a.active {
	background-color: #fcfffc;
	border: 1px solid #cccccc;
	border-right-color: transparent;
	z-index: 2;
	position: relative;
	box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.03);
}
#ModuleOptionsNav li a:active,
#ModuleOptionsNav li a:focus {
	box-shadow: none;
}
.smoothwidth {
	transition: width 4.5s;
}
.form-label {
	font-size: 14px;
}
.form-label-inner {
	padding-left: 10px;
}
.option_container {
}
.carousel-item {

	transition: -webkit-transform 0.3s ease;
	transition: transform 0.2s ease;
	transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
#AuditTrailTabs .tab-content {
	border: 0 none;
	box-shadow: none;
}
#IcwpWpsfSecurityAdmin {
	background-color: white;
	padding: 40px;
	margin: 40px 0;
}
.card.gopro-card {
	padding: 0; /* fix to override for bootstrap4 cuz WP has a .card style*/
}

@media (max-width: 848px) {
	#ColumnModules {
		max-width: 76px;
	}
	#TopPluginIcon {
		height: 76px;
		width: 76px;
		background-size: 76px 76px;
	}
	.modules a.module {
		font-size: 0.7rem;
		font-weight: normal;
		letter-spacing: -1px;
		padding: 0.4rem 0.6rem 0.4rem 0.8rem;
	}
	.modules .module-name .dashicons {
		font-size: 16px;
		left: -17px;
	}
}