﻿html {
	overflow-y: scroll;
}
body {
	padding-bottom: 200px;
}
body.wait {
	cursor: wait !important;
}
.wizard > .content {
	background: #ffffff;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}
.wizard > .steps .current a {
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}
.wizard.vertical > .steps {
	width: 20%; /** from 30 **/
}
.wizard.vertical > .content {
	width: 75%; /** from 65 **/
}
.wizard > .content > .body {
	height: auto;
	position: relative;
	padding: 0;
	width: 100%
}
.wizard > .content > .body .slide-header {
	padding: 3% 3% 0 3%;
}
.wizard > .content > .body .slide-header .btn-block {
	margin-bottom: -1px;
}
.wizard > .content > .body .slide-header hr {
	margin: 15px 0;
}
.wizard > .content > .body .slide-body {
	padding: 0 6% 0 6%;
}
.wizard > .content > .body .slide-footer {
	padding: 0 6% 3% 6%;
}
.wizard.vertical > .actions {
	margin-bottom: 20px;
}
.wizard h3 {
	margin-bottom: 20px;
}
.wizard p {
}
.wizard .body ol,
.wizard .body ul {
	margin-bottom: 20px;
	padding-left: 20px;
}
.wizard .body ul {
	list-style: square inside none;
}
.wizard p.wizard-response {
	/*padding: 10px 15px;*/
}

.wizard .slide-body img {
	float: left;
	width: 40%;
	margin-right: 20px;
}
.wizard .slide-body .media {
	margin-top: 25px
}
.wizard .slide-body .media-object {
	border: 1px solid #888;
	height: 64px;
	width: 64px;
}
.wizard .indent_slight {
	margin-left: 26px;
}

.wizard_slot {
	border: 1px solid #dddddd;
	border-radius: 3px;
	margin-top: 30px;
	padding: 0 20px 20px;
}
.wizard_slot:hover {
	background-color: #ffffff;
}

.wizard form label {
}
.wizard form input[type="radio"]:checked + span {
	font-weight: bolder;
	letter-spacing: -0.4px;
}
.wizard form .form-check-label {
	margin-bottom: 10px;
}
.wizard form .form-check-inline .form-check-label {
	margin-bottom: 0;
}

#GoProBtn {
	width: 128px;
	display: block;
	margin: 5px auto 20px;
}

#FooterWizardBanner {
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100%;
}
#WizardTop {
	height: 40px;
	background-color: #fafafa;
	background: linear-gradient(to top, rgba(250,250,250,0.95), rgba(250,250,250,0.7));
}
#WizardBanner {
	height: 100px;
	background-color: #eaffea;
	border-top: 1px solid #bbbbbb;
	padding-top: 10px;
	text-align: center;
	word-break: keep-all;
	white-space: nowrap;
}
#WizardBanner p {
	margin: 0;
	line-height: 20px;
	text-align: left;
}

.more_details {
	margin-bottom: 12px;
}
.more_details:hover {
	cursor: pointer;
}
.more_details_body {
	margin-bottom: 12px;
}

.scan-results-accordian {
}
.scan-results-accordian .card {
	margin-bottom: 24px;
}
.scan-results-accordian .card-header {
	padding: .5rem 1.25rem;
}
.scan-results-accordian .card-header button:hover,
.scan-results-accordian .card-header button {
	color: #f1f1f1
}