<form action="{{ form_action }}" method="post" class="odpOptionsForm">
	{% for nonkey, nonval in data.forms.options %}
		<input type="hidden" id="_{{ nonkey }}" name="{{ nonkey }}" value="{{ nonval }}">
	{% endfor %}
	<input type="hidden" name="mod_slug" value="{{ data.mod_slug }}" />
    <input type="hidden" name="all_options_input" value="{{ data.all_options_input }}" />
    <input type="hidden" name="plugin_form_submit" value="Y" />

	<div class="row no-gutters">
		<div class="col">
			<div class="module-headline">
				<h4>
					<span class="headline-title">{{ sPageTitle }}</span>
					<div class="float-right">
						<button type="submit" class="btn btn-primary icwp-form-button"
								name="submit" style="margin-right: 12px">
							{{ strings.btn_save }}
						</button>

						<div class="btn-group" role="group" aria-label="Basic example">

							<a aria-disabled="true" class="btn btn-success disabled icwp-carousel-0"
							   href="javascript:void(0)">
								{{ strings.btn_options }}</a>

							{% if flags.can_wizard and flags.has_wizard %}
								<a class="btn btn-outline-dark btn-icwp-wizard icwp-carousel-1"
								   title="Launch Guided Walk-Through Wizards" href="javascript:void(0)">
								{{ strings.btn_wizards }}</a>
							{% else %}
								<a class="btn btn-outline-dark btn-icwp-wizard disabled"
								   href="javascript:{}"
										{% if flags.can_wizard %}
											title="No Wizards for this module."
										{% else %}
											title="Wizards are not available as your PHP version is too old."
										{% endif %}
								>{{ strings.btn_wizards }}</a>
							{% endif %}

							<a class="btn btn-outline-info icwp-carousel-2" href="javascript:void(0)">
								{{ strings.btn_help }}</a>

							{% if flags.show_content_actions %}
								<a class="btn btn-outline-secondary icwp-carousel-3" href="javascript:void(0)">
										{{ strings.btn_actions }}</a>
							{% else %}
								<a class="btn btn-outline-secondary disabled" href="javascript:void(0)">
										{{ strings.btn_actions }}</a>
							{% endif %}

						</div>
					</div>
					<small class="module-tagline">{{ sTagline }}</small>
				</h4>
			</div>
		</div>
	</div>


	<div class="row no-gutters">
		<div class="col-2 smoothwidth">

			<ul id="ModuleOptionsNav" class="nav flex-column"
				role="tablist" aria-orientation="vertical">
				{% for OptSection in data.all_options %}
					<li class="nav-item">
						<a class="nav-link {% if OptSection.primary %}active{% endif %}"
						   id="pills-tab-{{ OptSection.slug }}"
						   data-bs-toggle="pill" href="#pills-{{ OptSection.slug }}"
						   role="tab" aria-controls="pills-{{ OptSection.slug }}"
						   {% if OptSection.primary %}aria-selected="true"{% endif %}
						>{{ OptSection.title_short }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div class="col" style="margin: 0 4px 5px 0;">
			<div class="tab-content" id="pills-tabContent">
				{% for OptSection in data.all_options %}
					<div class="tab-pane {% if OptSection.primary %}active{% endif %}"
						 id="pills-{{ OptSection.slug }}"
						 role="tabpanel" aria-labelledby="pills-tab-{{ OptSection.slug }}">
						{% include '/admin/options/options_row.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</form>