<div class="option_section_row {% if OptSection.primary %}primary_section{% else %}non_primary_section{% endif %}"
	 id="row-{{ OptSection.slug }}">
		<div class="options-body">
			<legend>{{ OptSection.title }}</legend>

			<div class="row_section_summary row">
				<div class="col-8">
					{% if OptSection.summary is not empty %}
						{% for summary_item in OptSection.summary %}
							<p class="noselect">{{ summary_item }}</p>
						{% endfor %}
					{% endif %}
				</div>

				<div class="col-4">
					{% if OptSection.help_video is not empty %}
						<button class="btn btn-lg btn-outline-info section_help_video" type="button"
						        data-bs-toggle="collapse"
						        data-target="#sectionVideo{{ OptSection.help_video.id }}"
								aria-expanded="false"
								aria-controls="sectionVideo{{ OptSection.help_video.id }}">
						  <span class="dashicons dashicons-controls-play"></span> Watch The Video</button>
					{% endif %}
				</div>

				{% if OptSection.help_video is not empty %}
					<div class="w-100"></div>
					<div class="col">
						<div class="collapse section_video"
							 id="sectionVideo{{ OptSection.help_video.id }}">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe src="{{ OptSection.help_video.embed_url }}"
										width="640" height="360" class="embed-responsive-item"
										allowfullscreen></iframe>
							</div>
						</div>
					</div>
				{% endif %}
			</div>

			{% if OptSection.warnings is not empty %}
				<div class="row">
					<div class="col">
						{% for section_warning in OptSection.warnings %}
							<div class="alert alert-warning text-center">{{ section_warning }}</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}

			{% for key, opt in OptSection.options %}
				<div class="form-group row row_number_{{ key }}">

					<label class="form-label col-3 col-form-label" for="{{ opt.key }}">
						<div class="form-label-inner text-right">
							<div class="optname">{{ opt.name }}</div>
							{% if opt.link_info is not empty %}
								<span class="optlinks">
									[ <a href="{{ opt.link_info }}" target="_blank">
										{{ strings.more_info }}</a>
									{% if opt.link_blog is not empty %}
										| <a href="<?php echo $aOption[ 'link_blog' ]; ?>"
											 target="_blank">{{ strings.blog }}</a>
									{% endif %}
									]</span>
							{% endif %}
						</div>
					</label>

					<div class="col-8 option_container
						{% if opt.enabled %}enabled{% else %}disabled overlay_container {% endif %}">

						{% if not opt.enabled %}
							<div class="option_overlay">
								<div class="overlay_message">
									<a href="<?php echo $hrefs[ 'go_pro' ]; ?>" target="_blank">
										Go Pro!</a>
								</div>
							</div>
						{% endif %}

						<div id="option_section_{{ opt.key }}"
							 class="option_section {% if not opt.is_value_default %}selected_item{% endif %}"
						>

							<label class="for{{ opt.type }}">
								{% if opt.type == 'checkbox' %}
									<span class="icwp-switch">
										<input type="checkbox" name="{{ opt.key }}"
											   id="{{ opt.key }}" value="Y"
											   {% if opt.value == 'Y' %}checked="checked"{% endif %}
												{% if not opt.enabled %}disabled="Disabled"{% endif %}
										/>
										<span class="icwp-slider round"></span>
									</span>
									<span class="summary">{{ opt.summary }}</span>

								{% elseif opt.type == 'text' %}

									<p>{{ opt.summary }}</p>
									<textarea name="{{ opt.key }}" id="{{ opt.key }}"
											  placeholder="{{ opt.value }}"
											  {% if not opt.enabled %}disabled="Disabled"{% endif %}
									>{{ opt.value }}</textarea>

								{% elseif opt.type == 'noneditable_text' %}

									<p>{{ opt.summary }}</p>
									<input type="text" value="{{ opt.value }}" readonly />

								{% elseif opt.type == 'password' %}

									<p>{{ opt.summary }}</p>
									<input type="password" name="{{ opt.key }}" id="{{ opt.key }}"
										   value="{{ opt.value }}" placeholder="{{ opt.value }}"
										   {% if not opt.enabled %}disabled="Disabled"{% endif %} />

								{% elseif opt.type == 'email' %}

									<p>{{ opt.summary }}</p>
									<input type="email" name="{{ opt.key }}" id="{{ opt.key }}"
										   value="{{ opt.value }}" placeholder="{{ opt.value }}"
										   {% if not opt.enabled %}disabled="Disabled"{% endif %} />

								{% elseif opt.type == 'select' %}

									<p>{{ opt.summary }}</p>
									<select name="{{ opt.key }}" id="{{ opt.key }}"
											{% if not opt.enabled %}disabled="Disabled"{% endif %} >

										{% for selectValue, selectName in opt.value_options %}
											<option value="{{ selectValue }}" id="{{ opt.key }}_{{ selectValue }}"
													{% if selectValue == opt.value %}selected="selected"{% endif %}
											>{{ selectName }}</option>
										{% endfor %}
									</select>

								{% elseif opt.type == 'multiple_select' %}

									<p>{{ opt.summary }}</p>
									<select name="{{ opt.key }}[]" id="{{ opt.key }}"
											multiple="multiple" multiple
											size="{{ opt.value_options|length }}"
											{% if not opt.enabled %}disabled="Disabled"{% endif %} >

										{% for selectValue, selectName in opt.value_options %}
											<option value="" id="{{ opt.key }}_{{ selectValue }}"
													{% if selectValue in opt.value %}selected="selected"{% endif %}
											>{{ selectName }}</option>
										{% endfor %}
									</select>

								{% elseif opt.type == 'array' or opt.type == 'comma_separated_lists' %}

									<p>{{ opt.summary }}</p>
									<textarea name="{{ opt.key }}" id="{{ opt.key }}"
											  placeholder="{{ opt.value }}" rows="{{ opt.rows }}"
											  {% if not opt.enabled %}disabled="Disabled"{% endif %}
									>{{ opt.value }}</textarea>

								{% elseif opt.type == 'integer' %}

									<p>{{ opt.summary }}</p>
									<input type="text" name="{{ opt.key }}" id="{{ opt.key }}"
										   value="{{ opt.value }}" placeholder="{{ opt.value }}"
										   {% if not opt.enabled %}disabled="Disabled"{% endif %} />

								{% else %}
									ERROR: Should never reach this point.
								{% endif %}

							</label>
							<p class="help-block">{{ opt.description }}</p>
							<div style="clear:both"></div>
						</div>
					</div><!-- controls -->
				</div>
			{% endfor %}
		</div>
	</div>