{% extends 'wizard/slide/base.twig' %}

{% block slide_header_nav %}{% endblock %}

{% block slide_body %}

	<h3>Sorry, you don't have access</h3>
	<p>To run this wizard you need to have certain privileges that are not met by your current account level.</p>
	<p>If this doesn't seem right, please contact your site administrator.</p>

	<a href="{{ hrefs.dashboard }}" class="btn btn-default">Go Back To Shield Dashboard</a>

{% endblock %}

{% block slide_footer %}{% endblock %}