{% extends 'wizard/page_base.twig' %}

{% block js_wizard_onStepChanged %}
// We delete the next steps as they're dynamically generated.
if ( currentIndex < priorIndex ) {
	while ( priorIndex > currentIndex ) {
		jQuery( this ).steps( "remove", priorIndex-- );
	}
}
{% endblock %}